.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  input[type="checkbox"] {
    display: none;
  }

  div {
    flex-grow: 1;
    max-width: 80%;
    margin: 0 10px;
    font-size: 22px;

    small {
      display: inline-flex;
      align-items: center;
      font-size: 0.6em;
      gap: 0.4em;
      text-decoration: underline;
      cursor: pointer;

      $svg-size: 1.4em;

      button {
        border: none;
        background: transparent;
        width: $svg-size;
        height: $svg-size;
        padding: 0;

        svg {
          color: $frost-1;
          width: $svg-size;
          height: $svg-size;
        }

        &:hover {
          svg {
            color: $frost-4;
          }
        }
      }
    }
  }

  .tick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 3px solid $snow-1;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      display: none;
      font-size: 20px;
      content: "✓";
    }
  }
}

.done {
  .tick {
    &::before {
      display: inline;
    }
  }

  div {
    text-decoration: line-through;
  }
}
