.modal {
  z-index: 10;
  background: rgba(76, 86, 106, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


  .form__task__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14em;
    left: 20vw;
    bottom: 14em;
    right: 20vw;
    z-index: 10;
    background: $grey-2;
    border-radius: 10px;

    .modal__title {
      text-align: center;
      margin-top: 2em;
    }

    .close__modal {
      position: absolute;
      top: 0;
      right: 5px;
      background: transparent;
      border: none;
      color: $red;
      font-size: 30px;
    }
  }

  [data-visible="false"] {
    display: none;
  }

  .form__task {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.add-task {
  color: $grey-1;
}

.add__task, .show__modal {
  margin: 1em;
  color: $grey-1;
}
