@layout('base')
@set('xData', 'todolist')

@section('body')
  <div class="todolist" @keydown.escape="hide">
    <div class="list">
      @!component('todolist/notDoneItems', {
        items
      })

      @!component('todolist/doneItems', {
        items
      })
    </div>
    <button @click="show" class="show__modal" data-url="/todolist/form">Ajouter une tâche</button>
    <div class="modal" x-show="isOpen"></div>
  </div>
@end
