<header>
  <h4 class="">{{ month }}</h4>
  <div id="navigation-wrapper">
    <div class="btn-container">
      <a id="previous-month" href="#" class="btn">&lt;</a>
      <a id="next-month" href="#" class="btn">&gt;</a>
    </div>
  </div>
</header>
