<section id="calendar-events" class="modal" x-show="isOpen">
  <div id="events">
    <button class="close__modal" @click="hide">✗</button>
    <h1 class="modal__title"></h1>
    <div class="events__container">

    </div>
  </div>
</section>
